                    {% load crispy_forms_tags %}
					<!DOCTYPE html>
                    <html>
                    <head lang="en">
                        <meta charset="UTF-8">
                        <meta name="viewport" content="width=device-width, in]itial-scale=1.0">
                        <!-- Bootstrap -->
                        <!-- Latest compiled and minified CSS -->
						<script src="http://code.jquery.com/jquery.js"></script>
						<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
                    <!-- Optional theme -->
                        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
                    <!-- Latest compiled and minified JavaScript -->
                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
						<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
						<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
						<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
					    <title></title>
                    
                        <style>
                            #body {
                            
                                background-color:silver
                            }
                            
                        </style>
                        <script>
					 $(function() {





						});
					</script>
					</head>
                    <body id="body">
                    <div class="navbar navbar-inverse navbar-fixed-top">
                      <div class="container">
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                        </div>
                        <div class="collapse navbar-collapse">
                          <ul class="nav navbar-nav">
                            <li> <a href="#">Home</a></li>
                            <li class="active"><a href="#">Launch Pad</a></li>
                            <li><a href="#subscription">Subscription</a></li>
                            <li><a href="#contact">Contact</a></li>
                          </ul>
                        </div><!--/.nav-collapse -->
                      </div>
                    </div>
                    <div class="container">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    </div>	
                    <div class="container">	
                      <h3>{{ msg }} </h3>
						<div class="table">
								<!--{{form}} -->
								{% crispy form %}	
						  </div>
				  </div>
							 </div>

                    <div class="footer">
        <p>&copy; Company 2014</p>
      </div>
                    
					</body>
                    </html>