<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
<style type="text/css">
body h1 {
	color: #130904;
	font-size: large;
	text-align: center;
	text-decoration: underline;
}
.table {
	color: #F80004;
	text-align: left;
	background-color: #F79E9F;
	left: 30%;
	padding-left: 30%;
}
</style>
</head>
<body>

<h1>NEW CASH INFLOW</h1>
<div class="table">
  <form method="POST" action="" >{% csrf_token %}
      <table>
	  {{form.as_table}}
	  </table>
	<input type="submit">
  </form>
  </div>
</body>
</html>