<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="http://trirand.com/blog/jqgrid/themes/ui.jqgrid.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://trirand.com/blog/jqgrid/js/jquery.jqGrid.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://www.trirand.com/blog/jqgrid/js/i18n/grid.locale-en.js"></script>
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <body background="http://res.cloudinary.com/dplpgfwpy/image/upload/v1412278972/bg_dvp3sc.jpg">
    <link rel="stylesheet" href="http://res.cloudinary.com/dplpgfwpy/raw/upload/v1413397740/paycal_zmrty0.css">

</head>
<body>
    <div class="container">
        <h1>POWER YOUR STARTUP....                    </h1>
    </div>


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="jumbotronx">
                    <h1>Hello, welcome to paycal.com</h1>
                    <h2>
                        <p>
                            simple , effient sfjjspofspofsopsufposuposupofuspufsiuoisuifuspoufdous
                            fsiousoiusdfiufd lifjiusid fiousdoiusdsd  dsfifsdoiusdfoi  fsoiuoifsu fdiufdioufd
                            ifoufioufd dioufdoiud iduifdu dfiufdioudg fudiudiougdidugdugd d
                        </p>
                    </h2>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-lg" id="learnmore"><h3>LEARN MORE</h3></button>
                        <button type="button" class="btn btn-primary btn-lg" id="register"><h3>REGISTER</h3></button>
                    </div>
                </div>
                </div>


                    <div class="col-md-4">
                        <div class="well">
                            <form class="form-signin">
                                <h31 class="form-signin-heading">Sign in</h31>
                                <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
                                <input type="password" class="form-control" name="password" placeholder="Password" required="" />
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                            </form>
                        </div>
                    </div>
              
     </div>
        <div class="footer">
            <div class="container">
                <p class="muted credit">Photo Credit <a href="http://flickr.com">Steven</a></p>
                <p class="muted credit">Site Designed by  <a href="http://www.facebook.com/sasidhar.puranam">sasidhar puranam</a></p>
                <p class="muted credit">Powered by Django , Jquery FullCalendar and JqGrid Plugins </p>
            </div>
        </div>
</div>
 <script>
    $("#register").click(function(){window.location.href="/register/";});
    $("#learnmore").click(function(){window.location.href="/contact/";});

</script>

</body>
</html>
