{% extends "base.html" %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<!--- -------------------------------------Navigation bar---------------------------------------------------------------->
<!--- -------------------------------------Navigation bar---------------------------------------------------------------->
<!--- -------------------------------------start of form----------------------------------------------------------------->
{% block content %}
<div class="container">
<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-stacked" id="sidebar">
          <li><a href="#sec0">Add Users</a></li>
        </ul>

    </div>
    <div class="col-md-8">
         <div class="table">
            {% crispy form %}
	 </div>
   </div>
    <div class="col-md-2"></div>
</div>
</div>
<!--- -------------------------------------end of form----------------------------------------------------------------->
<!--- -------------------------------------load scrip------------------------------------------------------------------>
<script>
</script>	
<!--- -------------------------------------end of scrip------------------------------------------------------------------>
{% endblock %}
</body>
</html>
