<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Payment Calendar</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <link rel="stylesheet" href="http://trirand.com/blog/jqgrid/themes/ui.jqgrid.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://trirand.com/blog/jqgrid/js/jquery.jqGrid.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://www.trirand.com/blog/jqgrid/js/i18n/grid.locale-en.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700,400' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.1.1/fullcalendar.css' />
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.1.1/fullcalendar.js"></script>
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static "css/paycal.css" %}">

</head>
<body id="body">
    <script>
        $(document).ready(function () {

            // page is now ready, initialize the calendar...
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'Payment Calendar',
                    right: 'month,agendaWeek,agendaDay'
                },
                // put your options and callbacks here
                    events: {
                        url: "/events/",
             },
            //put some notes on the calenader
            eventClick: function(event) {
                if (event.url) {
                    window.open(event.url);
                    return false;
                 }
                 },
            //Get the day
              dayClick: function(date, jsEvent, view) {

            //if there are no events for that day , open the new cashflow
              var today = moment();
              var filter = moment().isSame(date.format(),'day');
              var array = $('#calendar').fullCalendar('clientEvents' , function(event){
                                                                                 filter = moment(date).isSame(event.start,'day');
                                                                                 if (filter){
                                                                                    return true;
                                                                                 }
                                                                            });
              if ( array.length > 0 )
                            {
                                open_url = '/launcher/';
                            }
                            else
                            {
                                open_url = '/cash/?'+'D'+'='+ date.format( );

                            }
              window.location.href = open_url;
    }




        });

         set_calendar();

        //Save the user option for the calendar.
         $('#save').click(function(){$.ajax({   url:'/calop/',
                                                data:'calop=4',
                                                success:function(data){
                                                                    $('#message').html('Your Preference has been updated');
                                                                  }
                                            });
                                    });



         //Set the calenar based on the user option
          function set_calendar(){
                switch('{{user_option}}'){
                case 'D':
                    $('#calendar').fullCalendar('changeView' , 'basicDay');
                    break;
                case 'W':
                    $('#calendar').fullCalendar('changeView' , 'basicWeek');
                    $('#calendar').fullCalendar('option', 'aspectRatio', 2.5);
                    break;
                case 'M':
                    $('#calendar').fullCalendar('changeView' , 'month');
                    break;
                }
          }


        });

    </script>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/launcher/"><h31N>Home</h31N></a></li>
                    <li><a href="/actuals/"><h31N>Add Actual</h31N></a></li>
                    <li><a href="/cash/"> <h31N>Add Cashflow</h31N></a></li>
                    <li class="active"><a href="/calen/"><h31N>Calendar</h31N></a></li>
                    <li><a href="/categ/"><h31N>Corrections</h31N></a></li>
                    <li><a href="/report/"><h31N>Reports</h31N></a></li>
                    <li><a href="/pie/"><h31N>Charts</h31N></a></li>
                    <li><a href="/contact/"><h31N>Contact us</h31N></a></li>
                    <li><a href="/logout/"><h31N>logout</h31N></a></li>

                </ul>
            </div><!--/.nav-collapse -->
        </div>3
    </div>
    

        <div class="container">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

<div class="container">
    <div class="row">

     <div class ='col-lg-4 col-xs-8' >
            <label for="calop"><h31>Default calendar : </h31></label>
             <select name="calop" id="calop">
                <option value="D"><h31>Daily</h31></option>
                <option value="W"><h31>Monthly</h31></option>
                <option value="M"><h31>Weekly</h31></option>
             </select>
     </div>
      <div class ='col-lg-2 col-xs-4'>
            <button type="button" class="btn btn-default" id="save">
                    <span class="glyphicon glyphicon-question-sign"></span> save </button>
     </div>

     <div class ='col-lg-3'>
         <br>
         <text id="message" ></text>
     </div>
    </div>
   </div>


        <br/>
        <br/>

        <div id='calendar'>
    </div>
    </div>
    </body>
</html>


