{% extends "base.html" %}
﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{% block content %} 
<!--- -------------------------------------SCript   ---------------------------------------------------------------->
<script>
$(document).ready(function () {
    // page is now ready, initialize the calendar...
    $('#calendar').fullCalendar({
        header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay'
            },
      // put your options and callbacks here
            events: {
                url: "/events/",
     },
    //put some notes on the calenader
    eventClick: function(event) {
        if (event.url) {
            window.open(event.url);
            return false;
         }
         },
    //Get the day
      dayClick: function(date, jsEvent, view) {

    //if there are no events for that day , open the new cashflow
      var today = moment();
      var filter = moment().isSame(date.format(),'day');
      var array = $('#calendar').fullCalendar('clientEvents' , function(event){
                                                                         filter = moment(date).isSame(event.start,'day');
                                                                         if (filter){
                                                                            return true;
                                                                         }
                                                                    });
      if ( array.length > 0 )
                    {
                        open_url = '/launcher/?D='+ date.utc().format('YYYY-MM-DD');
                    }
                    else
                    {
                        open_url = '/cash/?DATE='+ date.utc().format('YYYY-MM-DD');

                    }
      window.location.href = open_url;
}

});

 set_calendar();

//Save the user option for the calendar.
 $('#calop').change(function(){
    value = 'calop='+ $('#calop').val();
 });
 $('#save').click(function(){$.ajax({   url:'/calop/',
                                        data:value,
                                        success:function(data){
                                                            $('#message').html('Your Preference has been updated');
                                                          }
                                    });
                            });
 //Set the calenar based on the user option
  function set_calendar(){
        switch('{{user_option}}'){
        case 'D':
            $('#calendar').fullCalendar('changeView' , 'basicDay');
            break;
        case 'W':
            $('#calendar').fullCalendar('changeView' , 'basicWeek');
            $('#calendar').fullCalendar('option', 'aspectRatio', 2.5);
            break;
        case 'M':
            $('#calendar').fullCalendar('changeView' , 'month');
            break;
        }
  }
});
</script>
<!--- -------------------------------------SCript   ---------------------------------------------------------------->
<div class="container">
    <div class="row">
     </div>
   <div id='calendar'></div>
</div>
{% endblock %}
</html>


