{% extends "base.html" %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<!--- -------------------------------------Navigation bar---------------------------------------------------------------->
<!--- -------------------------------------Navigation bar---------------------------------------------------------------->
<!--- -------------------------------------start of form----------------------------------------------------------------->
{% block content %}                    
<div class="container">
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
         <div class="table">
            {% crispy form %}
	 </div>
   </div>
    <div class="col-md-2"></div>
</div>
</div>
<!--- -------------------------------------end of form----------------------------------------------------------------->
<!--- -------------------------------------load scrip------------------------------------------------------------------>
<script>
$(function () {
 $.ajax({url:"/categories/",
       type: "GET",
       success:function(result){
       $('#id_category').html('');
       eval(result).forEach(function(t){
           $('#id_category').append('<option>'+t.description+'</option>');
       });

    }});

    $("#id_fdate").datepicker();
    $("#id_fdate").datepicker("option", "dateFormat", "yy-mm-dd");

    var date = getdate_url();
    $("#id_fdate").val(date);

    $(":input").change(function(){
                $("#msg").text("");
                });
    $("#addcateg").click(function () {
        document.location.href = "/addcateg/";
    });
});

function getdate_url(){
    var value;
    var hashes = window.location.href.slice(window.location.href.indexOf('?')+1).split('?');
    value = hashes[0].split('=')
    return value[1];
}
</script>	
<!--- -------------------------------------end of scrip------------------------------------------------------------------>
{% endblock %}
</body>
</html>
