<!DOCTYPE html>
<html>
<head>
    <title>correct data</title>
    <link rel="stylesheet" href="http://trirand.com/blog/jqgrid/themes/ui.jqgrid.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://trirand.com/blog/jqgrid/js/jquery.jqGrid.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://www.trirand.com/blog/jqgrid/js/i18n/grid.locale-en.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700,400' rel='stylesheet' type='text/css'>
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static "css/paycal.css" %}">
    </head>
<script>
    var header_message;
    var type;

    $(document).ready(function () {
        var DataGrid = jQuery("#list4");

        //Table Object
        jQuery("#list4").jqGrid({
            url: '/list/',
            datatype: "json",
            colNames: ['Identifier', 'Forecasted Date', 'Type', 'Amount', 'Currency', 'Recipient/Payer','active'],
            colModel: [
                { name: 'id', index: 'id', width: 20 , align: "center" },
                { name: 'fdate', index: 'fdate', width: 20 , align: "center" },
                { name: 'direction', index: 'direction', width: 10 , align: "center" },
                { name: 'amount', index: 'amount', width: 30 , align: "right" },
                { name: 'currency', index: 'currency', width: 10 , align: "center" },
                { name: 'recipient', index: 'recipient', width: 75, align: "right" },
                { name: 'active', index: 'active', width:30, align: "center" },
            ],
            rowNum: 10,
            rowList: [10, 20, 30],
            pager: '#pager',
            autowidth:true,
            sortname: 'fdate',
            viewrecords: true,
            sortorder: "direction",
            caption: "... ",
            gridComplete: function(){
            var ids = jQuery("#list4").jqGrid('getDataIDs');
            for(var i=0;i < ids.length;i++){
                var cl = ids[i];
                del = "<input  type='button' value='delete'  onclick=\"delete_data('"+cl+"');\"/>";
                jQuery("#list4").jqGrid('setRowData',ids[i],{active:del});

                }
            }
        });


        DataGrid.jqGrid('setGridWidth', jQuery("#datatable").width( ));
        //DataGrid.jqGrid('setGridWidth', '1124');
        DataGrid.jqGrid('setGridHeight', jQuery("#datatable").height( ));
        //DataGrid.jqGrid('setGridHeight', '350');

        $("#btncalen").click(
                     function () {
                         window.location.href = "/calen/";
                     }
                      );
         $("#planned").click(function () {
            jQuery("#list4").jqGrid('setGridParam', { 'url': "/list" });
            jQuery("#list4").jqGrid('setCaption', 'Editing Planned entries..');
            type = 'P';
            DataGrid.trigger("reloadGrid");
        });
        $("#actuals").click(function () {
            jQuery("#list4").jqGrid('setGridParam', { 'url': "/alist" });
            jQuery("#list4").jqGrid('setCaption', 'Editing Actual entries..');
            DataGrid.trigger("reloadGrid");
            type = 'A';
    });
    });



    function goto(location) {
       
    }
    function delete_data(id){
        if ( type == 'P'){
              url = "/cash/?D=" + id;
              }
              else{
              url = "/actuals/?D=" + id;
              }
        $.ajax({url:url,
               type: "GET",
               data: { },
               success:function(result){
               jQuery("#list4").trigger("reloadGrid");
            }});
    }
</script>
<style>
    .ui-jqgrid tr.ui-row-ltr td {
    text-align: left;
    border-right-width: 1px;
    border-right-color: inherit;
    border-right-style: solid;
    font-family: 'Antic Slab', serif;
 }
.ui-jqgrid tr.jqgrow td {
    font-weight: bold;
    overflow: hidden;
    white-space: pre;
    height: 40px;
    color:black;
    background-color:white;
    padding: 0 2px 0 2px;
    border-bottom-width: 1px;
    border-bottom-color: inherit;
    border-bottom-style: solid;
    font-family: 'Antic Slab', serif;
 }

</style>
<body id="body">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/cash/"> <h31N>Add Cashflow</h31N></a></li>
                    <li><a href="/calen/"><h31N>Calendar</h31N></a></li>
                    <li class="active"><a href="/categ/"><h31N>Corrections</h31N></a></li>
                    <li><a href="/report/"><h31N>Reports</h31N></a></li>
                    <li><a href="/pie/"><h31N>Charts</h31N></a></li>
                 <li><a href="/contact/"><h31N>Contact us</h31N></a></li>
                    <li><a href="/logout/"><h31N>logout</h31N></a></li>


                </ul>
            </div><!--/.nav-collapse -->
        </div>3
    </div>
    <div class="container-fluid">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="container-fluid">
        <p class="text-center">
            <button type="button" class="btn btn-default btn-lg" id="planned">   <h34>EDIT PLANNED CASHFLOW</h34></button>
            <button type="button" class="btn btn-default btn-lg" id="actuals"> <h34>CORRECT ACTUALS      </h34></button>
        </p>
        
    </div>
    <div class="container-fluid">
        <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8" id="datatable">
            <table id="list4"></table>
            <div id="pager"></div>
        </div>
        <div class="col-lg-2"></div>

        </div>
    </div>
    <br />
    <br />
 </body>
</html>