{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head lang="en">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <link rel="stylesheet" href="http://trirand.com/blog/jqgrid/themes/ui.jqgrid.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://trirand.com/blog/jqgrid/js/jquery.jqGrid.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://www.trirand.com/blog/jqgrid/js/i18n/grid.locale-en.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700,400' rel='stylesheet' type='text/css'>
          {% load static from staticfiles %}
                            <link rel="stylesheet" href="{% static "css/paycal.css" %}">

    <title>Contact Us</title>
    <script>
					 $(function() {





						});
					</script>
</head>
<body id="body">
<style>
#first_row{
padding-top: 15%;
}
</style>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <ul class="nav navbar-nav">
                    <li><a href="/launcher/"><h31N>Home</h31N></a></li>
                    <li><a href="/cash/"> <h31N>Add Cashflow</h31N></a></li>
                    <li><a href="/calen/"><h31N>Calendar</h31N></a></li>
                    <li><a href="/categ/"><h31N>Corrections</h31N></a></li>
                    <li><a href="/report/"><h31N>Reports</h31N></a></li>
                    <li><a href="/pie/"><h31N>Charts</h31N></a></li>
                    <li class="active"><a href="/contact/"><h31N>Contact us</h31N></a></li>
                    <li><a href="/logout/"><h31N>logout</h31N></a></li>

            </ul>
         </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container-fluid">
    <div class="row" id="first_row">

    <div class="col-md-3"></div>
    <div class="col-md-6">
        	<div class="table">
            <h31> {% crispy form %} </h31>
    </div>


    </div>
    <div class="col-md-3"></div>
    </div>
</div>

<div class="footer">
    <p>&copy; Company 2014</p>
</div>

</body>
</html>