{% extends "base.html" %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
{% block content %} 
<!--- -------------------------------------start of form----------------------------------------------------------------->
<body id="body">
<!--- -------------------------------------start of form----------------------------------------------------------------->
<style>
.row{
padding-top:5%;
}
</style>
<!--- -------------------------------------start of form----------------------------------------------------------------->
<!--- -------------------------------------start of form----------------------------------------------------------------->
<div class="container">
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        	<div class="table">
                <h31>{{msg}}</h31>
                <h31> {% crispy form %} </h31>
            </div>
    </div>
    <div class="col-md-2"></div>
    </div>
</div>
<!--- -------------------------------------start of form----------------------------------------------------------------->
<script>
 $(function() {
	});
</script>
{% endblock %} 
<!--- -------------------------------------start of form----------------------------------------------------------------->
</body>
</html>
