{% load crispy_forms_tags %}
<html>
<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <link rel="stylesheet" href="http://trirand.com/blog/jqgrid/themes/ui.jqgrid.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://trirand.com/blog/jqgrid/js/jquery.jqGrid.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://www.trirand.com/blog/jqgrid/js/i18n/grid.locale-en.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700,400' rel='stylesheet' type='text/css'>
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static "css/paycal.css" %}">
    <title>Report</title>

</head>

<body id="body">
<style>
       .subtotal {
                        background-color:#3b5998;
                        border-color: #080808;
                        color:white;
    }
           .line {
                        background-color:white;
                        border-color: #3b5998;
                        color:black;
    }
</style>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/cash/"> <h31N>Add Cashflow</h31N></a></li>
                    <li><a href="/calen/"><h31N>Calendar</h31N></a></li>
                    <li><a href="/categ/"><h31N>Corrections</h31N></a></li>
                    <li class="active"><a href="/report/"><h31N>Reports</h31N></a></li>
                    <li><a href="/pie/"><h31N>Charts</h31N></a></li>
                    <li><a href="/contact/"><h31N>Contact us</h31N></a></li>
                              <li><a href="/logout/"><h31N>logout</h31N></a></li>


                </ul>
            </div><!--/.nav-collapse -->
        </div>3
    </div>
    <br/>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
        <div class="container">
            
            <h31>
                {% if forms %}
                {%  crispy forms %}
                {% endif %}

            </h31>
         
     </div>
     <div class="container">
             <table class="table table-bordered ">
                 {% for items in dailyitems %}
                 {% if forloop.first %}
                 <td class="subtotal">Id</td>
                 <td class="subtotal">Expense type</td>
                 <td class="subtotal">Date</td>
                 <td class="subtotal">Planned Amount</td>
                 <td class="subtotal">Planned Cumulative</td>
                 <td class="subtotal">Actual Amount</td>
                 <td class="subtotal">Actual Cumulative</td>
                 <td class="subtotal">Difference</td>
                 {% endif %}
                 <tr>
                     <td class="line"> {{items.id}}</td>
                     <td class="line"> {{items.category_id}}</td>
                     <td class="line"> {{items.adate}}</td>
                     <td class="line"> {{items.amount}} </td>
                     <td class="line"> {{items.plan}} </td>
                     <td class="line"> {{items.actualamount}} </td>
                     <td class="line"> {{items.act}} </td>
                     <td class="line"> {{items.diff}} </td>
                 </tr>
                 {% endfor %}

             </table>
         </div>
          <script>
        $(function(){

            $("#id_start_date").datepicker();
            $("#id_end_date").datepicker();
            $("#id_start_date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
            $("#id_end_date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );

            var d = new Date();
            var month=d.getMonth();
            month=month + 1;
            var day = d.getDate();
            var year = d.getFullYear();
            var start;
            start=month-1;
            $("#id_start_date").val(year+"-"+start+"-"+day);
            $("#id_end_date").val(year+"-"+month+"-"+day);




        });
    </script>
</body>
</html>

