{% extends "base.html" %}
{% load crispy_forms_tags %}
<html>
<body id="body">
{% block content %} 
<style>
       .subtotal {
                        background-color:#3b5998;
                        border-color: #080808;
                        color:white;
    }
           .line {
                        background-color:white;
                        border-color: #3b5998;
                        color:black;
    }
    .row {
        padding-top:5%;
    }
</style>
<!--- -------------------------------------start of form----------------------------------------------------------------->
    <div class="container">
            <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h31>
                {% if forms %}
                {%  crispy forms %}
                {% endif %}
               </h31>
            </div>
            <div class="col-md-2"></div>
            </div>
     </div>
<!--- -------------------------------------report----------------------------------------------------------------->
     <div class="container">
             <table class="table table-bordered ">
                 {% for items in dailyitems %}
                 {% if forloop.first %}
                 <td class="subtotal">Id</td>
                 <td class="subtotal">Expense type</td>
                 <td class="subtotal">Date</td>
                 <td class="subtotal">Planned Amount</td>
                 <td class="subtotal">Planned Cumulative</td>
                 <td class="subtotal">Actual Amount</td>
                 <td class="subtotal">Actual Cumulative</td>
                 <td class="subtotal">Difference</td>
                 {% endif %}
                 <tr>
                     <td class="line"> {{items.id}}</td>
                     <td class="line"> {{items.categ}}</td>
                     <td class="line"> {{items.adate}}</td>
                     <td class="line"> {{items.amount}} </td>
                     <td class="line"> {{items.plan}} </td>
                     <td class="line"> {{items.actualamount}} </td>
                     <td class="line"> {{items.act}} </td>
                     <td class="line"> {{items.diff}} </td>
                 </tr>
                 {% endfor %}

             </table>
         </div>
<!--- -------------------------------------start of form----------------------------------------------------------------->
<script>
$(function(){

    $("#id_start_date").datepicker();
    $("#id_end_date").datepicker();
    $("#id_start_date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
    $("#id_end_date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );

    var d = new Date();
    var month=d.getMonth();
    month=month + 1;
    var day = d.getDate();
    var year = d.getFullYear();
    
    var start;
    start=month-1;
    if ( start== 0){
	 start = 12;
	 year = year - 1;	
	}	
    $("#id_start_date").val(year+"-"+start+"-"+day);
	year = d.getFullYear();
    $("#id_end_date").val(year+"-"+month+"-"+day);
});
</script>
{% endblock %} 
</body>
</html>

