  {% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Paycal</title>
    <link rel="stylesheet" href="http://trirand.com/blog/jqgrid/themes/ui.jqgrid.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="http://trirand.com/blog/jqgrid/js/jquery.jqGrid.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://www.trirand.com/blog/jqgrid/js/i18n/grid.locale-en.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700,400' rel='stylesheet' type='text/css'>
    <!--<body background="http://res.cloudinary.com/dplpgfwpy/image/upload/v1412278972/bg_dvp3sc.jpg">-->
    <!--<link rel="stylesheet" href="http://res.cloudinary.com/dplpgfwpy/raw/upload/v1413397740/paycal_zmrty0.css">-->
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static "css/paycal.css" %}">


</head>
<!--<body id="body1">-->
<body >
<script>
$(document).ready(function(){
    $( "#id_currency" ).tooltip();
    $( "#id_corpid" ).tooltip();
    $( "#tabs" ).tabs();
 });
 </script>

<style>
#main{
padding-top: 10%;
}


#tabs{
background-color:white;
-webkit-box-shadow: 10px 10px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    10px 10px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         10px 10px 5px 0px rgba(50, 50, 50, 0.75);
}

#nav{
-webkit-box-shadow: 10px 10px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    10px 10px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         10px 10px 5px 0px rgba(50, 50, 50, 0.75);

}
body{
	background-image:url("static/css/bg.jpg");	
	background-position: top;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
#shadow{
}
</style>

<div class="container-fluid">
<div class="navbar navbar-inverse navbar-fixed-top" id="nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <ul class="nav navbar-nav">
                       <h31N>POWER YOUR STARTUP....                    </h31N>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
</div>
<br>
<br>
<br>


<div class="container-fluid" id="main" >
<div class="row" >
    <div class="col-md-3"></div>
    <div class="col-md-6"  >
                <div id="tabs">
                     <ul>
                    <li><a href="#tabs-1"><h31N>Login</h31N></a>
                    </li>
                    <li><a href="#tabs-2"><h31N>Get Started..It's free</h31N> </a>
                    </li>
                    </ul>
                    <div id="tabs-1">
                                        <form class="form-signin" method="get" >
                                            <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
                                            <br>
                                            <input type="password" class="form-control" name="password" placeholder="Password" required="" />
                                            <br>
                                            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                                            <div class="container">
                                            <a href="/help/">Need help ?</a>
                                            </div>
                                        </form>
                    </div>
                   <div id="tabs-2">
                      {% crispy form %}
                    </div>
                  </div>

 <div id="tabid">
</div>

</div>
    <div class="col-md-3"></div>

</div>
</div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
<footer> <small>© Copyright 2014, <a href="mailto:sasidharp@gmail.com">Team Paycal</a></small>
</footer>
 <script>
    $("#register").click(function(){window.location.href="/register/";});
    $("#learnmore").click(function(){window.location.href="/contact/";});

</script>
<script>
$("#tabs").tabs({
    activate: function (event, ui) {
        var active = $('#tabs').tabs('option', 'active');
        // $("#tabid").html('the tab id is ' + $("#tabs ul>li a").eq(active).attr("href"));

    }
}

);
</script>

</body>
</html>
