
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Paycal</title>
    <link rel="stylesheet" href="http://trirand.com/blog/jqgrid/themes/ui.jqgrid.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://trirand.com/blog/jqgrid/js/jquery.jqGrid.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://www.trirand.com/blog/jqgrid/js/i18n/grid.locale-en.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700,400' rel='stylesheet' type='text/css'>
    <!--<body background="http://res.cloudinary.com/dplpgfwpy/image/upload/v1412278972/bg_dvp3sc.jpg">-->
    <!--<link rel="stylesheet" href="http://res.cloudinary.com/dplpgfwpy/raw/upload/v1413397740/paycal_zmrty0.css">-->
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static "css/paycal.css" %}">


</head>
<body id="body">
    <div class="container">
        <h1>THANK YOU FOR USING PAYCAL. SEE YOU LATER                  </h1>
    </div>
</div>
 <script>
    $("#register").click(function(){window.location.href="/register/";});
    $("#learnmore").click(function(){window.location.href="/contact/";});

</script>

</body>
</html>