{% extends "base.html" %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<!--- -------------------------------------start of form----------------------------------------------------------------->
<!--- -------------------------------------start of form----------------------------------------------------------------->
<body id="body">
{% block content %} 
<style>
.row{
padding-top:5%;
}
</style>
<!--- -------------------------------------start of form----------------------------------------------------------------->
<div class="container">
    <div class="row ">
        <div class="col-md-8 col-md-offset-2"><div class="well">
            <h5><strong>{{message|default:"UPLOAD STEPS :: Use the provided template as per instructions.Do not change the template columns"}}</strong><br>
			<a href="/static/Upload_Plan.xlsx"><strong>Download the template</strong></h5></a>
        </div></div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h31>
                {% if form %}
                {% crispy form %}
                {% endif %}
            </h31></div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2"><div class="well center"><h5> <strong>FOLLOWING OPTIONS WILL WIPE OUT ENTIRE DATA. PLEASE EXCERCISE CAUTION</strong>.There is no option to retrieve deleted data from this screen. Please use corrections option in navigation for single deletes</h5></div></div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2"><div class="well"><button type="button" class="btn btn-default btn-lg" id="delcash"><h5>DELETE ALL PLANNED CASHFLOW</h5></button> 
		<p><h5>This will delete all planned cashflow. Even if they have been actualized. Please user delete actual button below to delete the actual</h5></p>
		</div></div>
     </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2"><div class="well"><button type="button" class="btn btn-default btn-lg" id="delact"><h5>DELETE ACTUAL</h5></button> 
		<p><h5>Delete all the actual entries.</h5></p>
		</div></div>
     </div>
</div>
<!--- -------------------------------------start of form----------------------------------------------------------------->
<script>
$(document).ready(function () {
	$("#delcash").click(
		function(){
		$.ajax({url:"delete/",type: "GET"});				
		}
	
	);

	$("#delact").click(
		function(){
		$.ajax({url:"adelete/",type: "GET"});				
		}
	);

});
</script>
{% endblock %} 
</body>
</html>
