                    <!DOCTYPE html>
                    <html>
                    <head lang="en">
                        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
                        <link rel="stylesheet" href="http://trirand.com/blog/jqgrid/themes/ui.jqgrid.css">
                        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css">
                        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
                        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                        <script src="http://trirand.com/blog/jqgrid/js/jquery.jqGrid.min.js"></script>
                        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
                        <script src="http://www.trirand.com/blog/jqgrid/js/i18n/grid.locale-en.js"></script>
                        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
                        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700,400' rel='stylesheet' type='text/css'>
                        <link rel="stylesheet" href="http://res.cloudinary.com/dplpgfwpy/raw/upload/v1413397740/paycal_zmrty0.css">

                        <title></title>
                    </head>
                    <body>
                    <div class="navbar navbar-inverse navbar-fixed-top">
                      <div class="container">
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                        </div>
                        <div class="collapse navbar-collapse">
                          <ul class="nav navbar-nav">
                              <li><a href="/launcher/"><h31N>Home</h31N></a></li>
                              <li><a href="/actuals/"><h31N>Add Actual</h31N></a></li>
                              <li class="active"><a href="/cash/"> <h31N>Add Cashflow</h31N></a></li>
                              <li><a href="/calen/"><h31N>Calendar</h31N></a></li>
                              <li><a href="/categ/"><h31N>Corrections</h31N></a></li>
                              <li><a href="/report/"><h31N>Reports</h31N></a></li>
                              <li><a href="/pie/"><h31N>Charts</h31N></a></li>
                              <li><a href="/contact/"><h31N>Contact us</h31N></a></li>
                          </ul>
                        </div><!--/.nav-collapse -->
                      </div>
                    </div>
                    <div class="container">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    </div>
                    </div>
                    <div class="container">
                     	<div class="container">
							<div class="table">
								<form method="POST" action="" >{% csrf_token %}
										<table class="table table-striped .table-bordered" >
											<div class="table-responsive">
												<table class="table">
													<thead>
														<tr>
															<th>CATEGORY</th>
															<th>TYPE</th>
															<th>FREQUENCY</th>
															<th>AMOUNT</th>
															<th>CURRENCY</th>
															<th>PAYER</th>
															<th>Table heading</th>
														</tr>
													</thead>
													<tbody>
														{% for item in items %}
														<tr>
															<td>{{item.category_id}}</td>
															<td>{{item.type_id}}</td>
															<td>{{item.frequency}}</td>
															<td>{{item.amount}}</td>
															<td>{{item.currency}}</td>
															<td>{{item.payer}}</td>
														</tr>
														{% endfor %}
													 </tbody>
												</table>
											</div>
										</table>
										<button type="submit" class="btn btn-primary">Save Record</button>
										<button class="btn">Reset</button>
								</form>
							</div>
						</div>
					</div>

                    <div class="footer">
        <p>&copy; Company 2014</p>
      </div>
                    </body>
                    </html>