{% load crispy_forms_tags %}
<html>
<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <link rel="stylesheet" href="http://trirand.com/blog/jqgrid/themes/ui.jqgrid.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://trirand.com/blog/jqgrid/js/jquery.jqGrid.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://www.trirand.com/blog/jqgrid/js/i18n/grid.locale-en.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700,400' rel='stylesheet' type='text/css'>
             <link rel="stylesheet" href="http://127.0.0.1:8000/static/paycal.css">

    <title></title>

</head>
<body id="body">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/launcher/"><h31N>Home</h31N></a></li>
                    <li><a href="/actuals/"><h31N>Add Actual</h31N></a></li>
                    <li class="active"><a href="/cash/"> <h31N>Add Cashflow</h31N></a></li>
                    <li><a href="/calen/"><h31N>Calendar</h31N></a></li>
                    <li><a href="/categ/"><h31N>Corrections</h31N></a></li>
                    <li><a href="/report/"><h31N>Reports</h31N></a></li>
                    <li><a href="/pie/"><h31N>Charts</h31N></a></li>
                    <li><a href="/contact/"><h31N>Contact us</h31N></a></li>


                </ul>
            </div><!--/.nav-collapse -->
        </div>3
    </div>
    <br />
    <br />
    <br />

    <br />
    <br />
    <br />
    <div class="container">
        {% if forms %}
        {% crispy forms %}
        {% else %}
        <div class="row">
            <div class="col-lg-4">
                <div id="piechart"></div>
            </div>
            <div class="col-lg-4">
               <div id="piechart1"></div>
            </div>
            <div class="col-lg-4">
               <div id="piechart2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1">
            <div id="linechart1"></div>
            </div>
        </div>
        {% endif %}
    </div>

        <script type="text/javascript">

        $(function(){

            $("#id_start_date").datepicker();
            $("#id_end_date").datepicker();
            $("#id_start_date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
            $("#id_end_date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );

        });


        google.load('visualization', '1', { 'packages': ['corechart'] });
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var jsonData = $.ajax({
                //fetchjson.php is a php script that will fetch the JSON data e generated using above php code
                url: "/chartdata/",
                dataType: "json",
                async: false
            }).responseText;

            var data = new google.visualization.DataTable(jsonData);
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, { width: 400, height: 300, lineWidth: 1, pointSize: 1.3, pointWidth: 3 ,title: 'Planned Split'});

            var jsonData = $.ajax({
                //fetchjson.php is a php script that will fetch the JSON data e generated using above php code
                url: "/chartactual/",
                dataType: "json",
                async: false
            }).responseText;

            var data = new google.visualization.DataTable(jsonData);
            var chart = new google.visualization.PieChart(document.getElementById('piechart1'));
            chart.draw(data, { width: 400, height: 300, lineWidth: 1, pointSize: 1.3, pointWidth: 3 ,title: 'Actual Split'});

             var jsonData = $.ajax({
                //fetchjson.php is a php script that will fetch the JSON data e generated using above php code
                url: "/cashflow/",
                dataType: "json",
                async: false
            }).responseText;

            var data = new google.visualization.DataTable(jsonData);
            var chart = new google.visualization.PieChart(document.getElementById('piechart2'));
            chart.draw(data, { width: 400, height: 300, lineWidth: 1, pointSize: 1.3, pointWidth: 3 ,title: 'Overall Cashflow '});


            var jsonData = $.ajax({
                //fetchjson.php is a php script that will fetch the JSON data e generated using above php code
                url: "/trend/",
                dataType: "json",
                async: false
            }).responseText;

            var data = new google.visualization.DataTable(jsonData);
            var chart = new google.visualization.BarChart(document.getElementById('linechart1'));
            chart.draw(data, { width: 1180, height: 600, lineWidth: 1, pointSize: 1.3, pointWidth: 3,title: 'Trends : Actual vs Planned '});

        }
    </script>
</body>
</html>